# 파이썬 자동 생성 파일들
__pycache__/
*.py[cod]
*$py.class

# 가상환경
venv/
env/
.venv/

# IDE 설정 파일들
.idea/
.vscode/
doc/

# 학습 결과물 (용량이 커서 깃에는 안올림)
models/
videos/
*.zip
*.gif
*.png

# 데이터 파일
walker_results.csv

# 로그
logs/
